In [ ]:
### This is a notebook for HDF5 writing tests

In [1]:
import h5py
import numpy as np
import os
import glob
import pandas as pd

In [48]:
year,month,day=('2024','03','08')
h5name = 'IASC_'+year+month+day+'.hdf5' ### name of the hdf5 file
groups = ['CES Instruments', 'Chamber']
ces_list = ['CEAS360','CEAS450','CEAS660','CRDS405']
ces_dir = ['c:\\HUB\\DataManagement\\Jupyter\\testdata\\HONO\\',
           'c:\\HUB\\DataManagement\\Jupyter\\testdata\\GLY\\',
           'c:\\HUB\\DataManagement\\Jupyter\\testdata\\NO3\\',
           'c:\\HUB\\DataManagement\\Jupyter\\testdata\\NO2\\'
            #'D:\\gitAll\\HUB\\DataManagement\\Jupyter\\testdata\\HONO\\',
           #'D:\\gitAll\\HUB\\DataManagement\\Jupyter\\testdata\\GLY\\',
           #'D:\\gitAll\\HUB\\DataManagement\\Jupyter\\testdata\\NO3\\',
           #'D:\\gitAll\\HUB\\DataManagement\\Jupyter\\testdata\\NO2\\'
            ]
ces_column_desc = [['time','no2','hono'],
               ['time','no2','chocho'],
               ['time','no3','no2','h2o'],
               ['time','no2','tau','pres','temp','f_s','f_p','flag']]
ces_column_units = [['YYYY/MM/DD-HH:MM:SS','ppbv','ppbv'],
                ['YYYY/MM/DD-HH:MM:SS','ppbv','ppbv'],
                ['YYYY/MM/DD-HH:MM:SS','ppbv','ppbv','ppbv'],
                ['YYYY/MM/DD-HH:MM:SS','ppbv','microsecs','psi','degC','lpm','lpm','NA']]
chamber_dir='c:\\HUB\\DataManagement\\Jupyter\\testdata\\'#'D:\\gitAll\\HUB\\DataManagement\\Jupyter\\testdata\\'
chamber_column_desc = ['time','temp','diffP','RelHumidity','pres','no','no2','nox','o3','co2']
chamber_column_units = ['YYYY/MM/DD-HH:MM:SS','degC','Pa','percent','hPa','ppbv','ppbv','ppbv','ppbv','ppmv'] #one less column that

In [59]:
f = h5py.File(h5name, 'a')
for ii,ele in enumerate(ces_list):
    grp = f.create_group(groups[0]+'/'+ ele)
    dset_dir = glob.glob(ces_dir[ii]+year+month+day)[-1]
    dset_file = glob.glob(dset_dir+'\\M*.txt')[-2]
    dset = pd.read_csv(dset_file,sep=' ',header=None,names=ces_column_desc[ii])
    dset = dset.convert_dtypes()
    for jj,col in enumerate(ces_column_desc[ii]):
        try:
            dataset = grp.create_dataset(col, data=np.asarray(dset[col],dtype='float64'))
            dataset.attrs['units']=ces_column_units[ii][jj]
        except:
            dataset = grp.create_dataset(col, data=np.asarray(dset[col],dtype='S19'))
            dataset.attrs['units']=ces_column_units[ii][jj]
    if ele != 'CRDS405':
        dset_file = glob.glob(dset_dir+'\\Ib*.txt')[-1]
        zeros = np.loadtxt(dset_file)
        dataset = grp.create_dataset("wavelengths", data=np.asarray(zeros[:,0],dtype='float64'))
        dataset.attrs['units']='nm'
        dataset = grp.create_dataset("zeros", data=np.asarray(zeros[:,1:],dtype='float64'))
        dataset.attrs['units']='counts'
        
        dset_file = glob.glob(dset_dir+'\\Imeas*.npy')[-1]
        meas = np.load(dset_file)
        dataset = grp.create_dataset("measurements", data=np.asarray(meas[:,1:],dtype='float64'))
        dataset.attrs['units']='counts'
        
grp = f.create_group(groups[1])
dset_file = glob.glob(chamber_dir+'CRAC*'+year+'-'+month+'-'+day+'*.tsv')[-1]
dset= pd.read_csv(dset_file,sep='\t',header=None,names=chamber_column_desc,skiprows=2,encoding='utf-16')
dset = dset.convert_dtypes()
for kk,col in enumerate(chamber_column_desc):
    if kk == 0:
        dts = []
        for ele in dset[col]:
            ele = ele.replace('-','/')
            ele = ele.replace(' ','-')
            dts.append(ele)
        dataset = grp.create_dataset(col, data=np.asarray(dts,dtype='S19'))
        dataset.attrs['units']=chamber_column_units[kk]
    else:
        dataset = grp.create_dataset(col, data=np.asarray(dset[col],dtype='float64'))
        dataset.attrs['units']=chamber_column_units[kk]
f.close()

C:\Users\Mixtli\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\dtypes\cast.py:1134: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
C:\Users\Mixtli\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\dtypes\cast.py:1153: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():

In [56]:
f.close()

In [ ]:
os.walk(ces_dir[1])

In [24]:
dset_dir = glob.glob(ces_dir[2]+year+month+day)[-1]
dset_file = glob.glob(dset_dir+'\\M*.txt')[-2]

In [25]:
glob.glob(dset_dir+'\\M*.txt')[-2]

'D:\\gitAll\\HUB\\DataManagement\\Jupyter\\testdata\\NO3\\20240308\\M2403081840.txt'

In [8]:
print(dset_dir,dset_file)

D:\gitAll\HUB\DataManagement\Jupyter\testdata\NO3\20240308 D:\gitAll\HUB\DataManagement\Jupyter\testdata\NO3\20240308\M2403081840.txt

In [9]:
dset = pd.read_csv(dset_file,sep=' ',header=None,names=column_desc[2])
dset = dset.convert_dtypes()

C:\Users\mixtl\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\dtypes\cast.py:1057: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
C:\Users\mixtl\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\dtypes\cast.py:1081: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():

In [10]:
times = dset["time"].astype('U')
times.astype('U')

0       2024/03/08-12:51:01
1       2024/03/08-12:51:18
2       2024/03/08-12:51:36
3       2024/03/08-12:51:53
4       2024/03/08-12:52:11
               ...
1186    2024/03/08-18:39:35
1187    2024/03/08-18:39:53
1188    2024/03/08-18:40:11
1189    2024/03/08-18:40:28
1190    2024/03/08-18:40:46
Name: time, Length: 1191, dtype: object

In [11]:
dset["time"]

0       2024/03/08-12:51:01
1       2024/03/08-12:51:18
2       2024/03/08-12:51:36
3       2024/03/08-12:51:53
4       2024/03/08-12:52:11
               ...
1186    2024/03/08-18:39:35
1187    2024/03/08-18:39:53
1188    2024/03/08-18:40:11
1189    2024/03/08-18:40:28
1190    2024/03/08-18:40:46
Name: time, Length: 1191, dtype: string

In [12]:
dset.h2o

0       2379808097.145396
1            -4434.953456
2            -1117.263841
3             -5498.75019
4            -2782.483749
              ...
1186        922253.241981
1187        917002.050024
1188        907170.597801
1189        896193.932299
1190        883114.259391
Name: h2o, Length: 1191, dtype: Float64

In [13]:
dset.dtypes

time    string[python]
no3            Float64
no2            Float64
h2o            Float64
dtype: object

In [14]:
col

'flag'

In [15]:
np.asarray(dset[col],dtype='str')

KeyError: 'flag'

In [18]:
a=dset['time'].shape
a

(1191,)

In [2]:
year,month,day=('2024','03','08')

In [3]:
print(year,month,day)

2024 03 08

In [10]:
dset_file = glob.glob(chamber_dir+'*'+year+'-'+month+'-'+day+'*.tsv')
dset_file

['c:\\HUB\\DataManagement\\Jupyter\\testdata\\CRAC (All Locations)-2024-03-08 23-45-04.tsv']

In [32]:
dset= pd.read_csv(dset_file[-1],sep='\t',header=None,names=chamber_column_desc,skiprows=2,encoding='utf-16')
dset = dset.convert_dtypes()
dset

,datetime,temp,diffP,RelHumidity,pres,no,no2,nox,o3,co2
0,2024-03-07 23:45:00,20.53,5.239,0.49,1006.89,0.12,0.0,0.0,0.24,429.0
1,2024-03-07 23:45:30,20.53,5.68,0.49,1006.89,0.12,0.0,0.0,0.61,425.4
2,2024-03-07 23:46:00,20.53,6.636,0.49,1007.04,0.12,0.0,0.0,0.73,425.4
3,2024-03-07 23:46:30,20.53,7.47,0.49,1006.89,0.12,0.0,0.0,0.49,422.9
4,2024-03-07 23:47:00,20.53,5.779,0.49,1006.89,0.12,0.0,0.0,0.86,426.6
...,...,...,...,...,...,...,...,...,...,...
2874,2024-03-08 23:42:00,20.212,6.93,0.51,994.23,0.12,0.0,0.0,0.49,425.4
2875,2024-03-08 23:42:30,20.212,6.367,0.51,994.09,0.12,0.12,0.0,0.49,422.9
2876,2024-03-08 23:43:00,20.212,5.288,0.51,994.23,0.12,0.0,0.0,0.37,422.9
2877,2024-03-08 23:43:30,20.212,6.097,0.51,994.23,0.12,0.0,0.0,0.24,424.1
2878,2024-03-08 23:44:00,20.212,6.563,0.51,994.23,0.12,0.0,0.0,0.24,429.0

In [33]:
dset.datetime

0       2024-03-07 23:45:00
1       2024-03-07 23:45:30
2       2024-03-07 23:46:00
3       2024-03-07 23:46:30
4       2024-03-07 23:47:00
               ...
2874    2024-03-08 23:42:00
2875    2024-03-08 23:42:30
2876    2024-03-08 23:43:00
2877    2024-03-08 23:43:30
2878    2024-03-08 23:44:00
Name: datetime, Length: 2879, dtype: string

In [24]:
times = dset["datetime"].astype('S19')
times

0       b'2024-03-07 23:45:00'
1       b'2024-03-07 23:45:30'
2       b'2024-03-07 23:46:00'
3       b'2024-03-07 23:46:30'
4       b'2024-03-07 23:47:00'
                 ...
2874    b'2024-03-08 23:42:00'
2875    b'2024-03-08 23:42:30'
2876    b'2024-03-08 23:43:00'
2877    b'2024-03-08 23:43:30'
2878    b'2024-03-08 23:44:00'
Name: datetime, Length: 2879, dtype: bytes152

In [25]:
dts = []
for ele in dset.datetime:
    ele[4]='/'
    ele[7]='/'
    ele[10]='-'
    dts.append(ele)

TypeError: 'str' object does not support item assignment

In [34]:
obj = dset.datetime[0]

In [35]:
obj = obj.replace('-','/')
obj.replace(' ','-')

'2024/03/07-23:45:00'

In [38]:
dset_dir

['c:\\HUB\\DataManagement\\Jupyter\\testdata\\HONO\\20240308']

In [51]:
kk

1

In [52]:
dset[col]

0        20.53
1        20.53
2        20.53
3        20.53
4        20.53
         ...
2874    20.212
2875    20.212
2876    20.212
2877    20.212
2878    20.212
Name: temp, Length: 2879, dtype: Float64

In [53]:
col

'temp'

In [55]:
dataset = grp.create_dataset(col, data=dset[col])

TypeError: Object dtype dtype('O') has no native HDF5 equivalent